<h1>Exemplo Details</h1>
<p>ID: <%= exemplo.id %></p>
<p>Valor 1: <%= exemplo.valor1 %></p>
<p>Valor 2: <%= exemplo.valor2 %></p>
<p>Valor 3 (Data): <%= exemplo.valor3.toISOString().slice(0,10) %></p>
<p>Valor 4: <%= exemplo.valor4 %></p>
<a href="/exemplo" class="btn btn-primary">Back to List</a>